@model OsAccountingApp1.Models.cost

@{
    ViewBag.Title = "Добавить";
}

<h2>Добавить</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>История цен</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.id_os, "ОС", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("id_os", null, htmlAttributes: new { @class = "form-control", @onclick = "getInfo(this.value)" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.OS.wearrate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <p id="wearrate"></p>
            </div>
        </div>
        <div class="form-group">
            <b><p class="control-label col-md-2">Предыдущая цена</p></b>
            <div class="col-md-10">
                <p id="lastcost"></p>
            </div>
        </div>
        <div class="form-group">
            <b><p class="control-label col-md-2">Предполагаемая цена</p></b>
            <div class="col-md-10">
                <p id="recomendedCost"></p>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.cost1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.cost1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.cost1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.costchangedate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.costchangedate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.costchangedate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Создать" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @{
        if (ViewBag.HomePage == "/Functions")
        {
            @Html.ActionLink("Вернуться к функциям", "Functions", "Home"); TempData["HomePage"] = "/Functions";
        }
        else
        {
            @Html.ActionLink("Вернуться к таблице", "Index"); TempData["HomePage"] = "/Index";
        }
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
