@model OsAccountingApp1.Models.cost

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>cost</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cost1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cost1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.costchangedate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.costchangedate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OS.id_os)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OS.id_os)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменить", "Edit", new { id = Model.id_cost }) |
    @Html.ActionLink("Вернуться к таблице", "Index")
</p>
