@model IEnumerable<OsAccountingApp1.Models.OS>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.os_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.invertory_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.wearrate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service_start)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.service_time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.group.classname)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.os_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.invertory_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.wearrate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service_start)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.service_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.group.classname)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.id_os }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.id_os }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id_os })
        </td>
    </tr>
}

</table>
