@model OsAccountingApp1.Models.unit

@{
    ViewBag.Title = "Удалить";
}

<h2>@ViewBag.Title</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Отделы</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.unitname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к таблице", "Index")
        </div>
    }
</div>
