@model OsAccountingApp1.Models.assigment

@{
    ViewBag.Title = "Удалить";
}

<h2>Delete</h2>

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>assigment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.arrivaldateunit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.arrivaldateunit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MOL.molname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MOL.molname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit.unitname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit.unitname)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к таблице", "Index")
        </div>
    }
</div>
