@model IEnumerable<OsAccountingApp1.Models.MOL>

@{
    ViewBag.Title = "Поиск";
}

<h2>Поиск</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Материально ответственное лицо</h4>
        <hr />
        <div class="form-group">
            <label class="control-label col-md-2" for="molname">ФИО МОЛ</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line"
                       id="molname" name="molname" type="text" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="birthday">Дата рождения</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line"
                       data-val="true"
                       data-val-date="Поле Дата рождения должно содержать дату."
                       id="birthday" name="birthday" type="date" value="">
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="arrivaldate">Дата прибытия</label>
            <div class="col-md-10">
                <input class="form-control text-box single-line"
                       data-val="true"
                       data-val-date="Поле Дата прибытия должно содержать дату."
                       id="arivaldate" name="arivaldate" type="date" value="">
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Поиск" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.molname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arivaldate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.molname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.arivaldate)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.id_mol }) |
                    @Html.ActionLink("Подробнее", "Details", new { id = item.id_mol }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.id_mol })
                </td>
            </tr>
        }
    </table>
}
<div>
    @Html.ActionLink("Вернуться к таблице", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
