@model IEnumerable<OsAccountingApp1.Models.pin>

@{
    ViewBag.Title = "Прикрепление";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MOL.molname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OS.os_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MOL.molname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS.os_name)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.id_pin }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.id_pin }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.id_pin })
        </td>
    </tr>
}

</table>
