@model IEnumerable<OsAccountingApp1.Models.WorkLoadReportModel>

@{
    ViewBag.Title = "Загруженность отделов";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.unit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.molname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.arrivaldateunit)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.unit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.molname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.arrivaldateunit)
                </td>

            </tr>
        }
    </table>
</div>

